<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-hobby-list [hobbies]="hobbies" (hobbyClicked)="deleteHobby($event)"></app-hobby-list>
  <!--<input [(ngModel)]="message" type="text"/>-->
  <!--<p>{{message}}</p>-->
  <!--<button (click)="addHobby()">Add Hobby</button>-->
  <!--<app-hobby-form [hobby2]="loadHobby()" (hobbyAdded)="addHobby($event)"></app-hobby-form>-->
  <app-hobby-form-reactive [hobby]="loadHobby()" (hobbyAdded)="addHobby($event)"></app-hobby-form-reactive>

  <router-outlet></router-outlet>
</div>
